.App {
  text-align: center;
  width: 500px;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  margin-top: 2px;
}
